<div
    class="flex justify-center sm:justify-center md:justify-center lg:justify-end xl:justify-end  items-center space-x-8 px-20">
    <a class="text-[var(--text-color)] text-sm">Hakkımızda</a>
    <app-switch></app-switch>
    <a href="https://www.ihale.gov.tr/">
        <app-kiklogo color="var(--logo-color)" width="55" height="20"></app-kiklogo>
    </a>
    <a href="https://ekap.kik.gov.tr/EKAP/Default.aspx">
        <app-ekaplogo color="var(--logo-color)" width="55" height="20"></app-ekaplogo>
    </a>

</div>