<div class="blue-purple-bg px-28 py-16 rounded-bl-xl rounded-br-xl flex-col justify-center items-center">
    <div class="font-semibold text-2xl">KAMU İHALE SÖZLEŞMELERİNİN FESHİ ve FESHİN SONUÇLARI</div>
    <div class="max-h-96 overflow-auto mt-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus dolorum, vero eaque, numquam soluta
        corporis eum qui expedita earum facere porro fuga voluptatum in rem et deleniti quisquam perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia! Obcaecati expedita illum minus quo,
        nostrum odit provident vero explicabo deleniti quasi, dolor aliquam ullam voluptatem ipsam. Illo, illum
        asperiores!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus odit eius dicta aliquam incidunt
        architecto, nihil earum illo numquam sapiente minima sunt. Nemo, velit? Itaque cumque ut dolorem qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore, omnis beatae corrupti at laboriosam.
        Maxime repudiandae libero, ex quis eaque fugiat quaerat quidem voluptatibus ea. Cum error alias eum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus dolorum, vero eaque, numquam soluta
        corporis eum qui expedita earum facere porro fuga voluptatum in rem et deleniti quisquam perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia! Obcaecati expedita illum minus quo,
        nostrum odit provident vero explicabo deleniti quasi, dolor aliquam ullam voluptatem ipsam. Illo, illum
        asperiores!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus odit eius dicta aliquam incidunt
        architecto, nihil earum illo numquam sapiente minima sunt. Nemo, velit? Itaque cumque ut dolorem qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore, omnis beatae corrupti at laboriosam.
        Maxime repudiandae libero, ex quis eaque fugiat quaerat quidem voluptatibus ea. Cum error alias eum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus dolorum, vero eaque, numquam soluta
        corporis eum qui expedita earum facere porro fuga voluptatum in rem et deleniti quisquam perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia! Obcaecati expedita illum minus quo,
        nostrum odit provident vero explicabo deleniti quasi, dolor aliquam ullam voluptatem ipsam. Illo, illum
        asperiores!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus odit eius dicta aliquam incidunt
        architecto, nihil earum illo numquam sapiente minima sunt. Nemo, velit? Itaque cumque ut dolorem qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore, omnis beatae corrupti at laboriosam.
        Maxime repudiandae libero, ex quis eaque fugiat quaerat quidem voluptatibus ea. Cum error alias eum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus dolorum, vero eaque, numquam soluta
        corporis eum qui expedita earum facere porro fuga voluptatum in rem et deleniti quisquam perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia! Obcaecati expedita illum minus quo,
        nostrum odit provident vero explicabo deleniti quasi, dolor aliquam ullam voluptatem ipsam. Illo, illum
        asperiores!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus odit eius dicta aliquam incidunt
        architecto, nihil earum illo numquam sapiente minima sunt. Nemo, velit? Itaque cumque ut dolorem qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore, omnis beatae corrupti at laboriosam.
        Maxime repudiandae libero, ex quis eaque fugiat quaerat quidem voluptatibus ea. Cum error alias eum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus dolorum, vero eaque, numquam soluta
        corporis eum qui expedita earum facere porro fuga voluptatum in rem et deleniti quisquam perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia! Obcaecati expedita illum minus quo,
        nostrum odit provident vero explicabo deleniti quasi, dolor aliquam ullam voluptatem ipsam. Illo, illum
        asperiores!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus odit eius dicta aliquam incidunt
        architecto, nihil earum illo numquam sapiente minima sunt. Nemo, velit? Itaque cumque ut dolorem qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore, omnis beatae corrupti at laboriosam.
        Maxime repudiandae libero, ex quis eaque fugiat quaerat quidem voluptatibus ea. Cum error alias eum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus dolorum, vero eaque, numquam soluta
        corporis eum qui expedita earum facere porro fuga voluptatum in rem et deleniti quisquam perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia! Obcaecati expedita illum minus quo,
        nostrum odit provident vero explicabo deleniti quasi, dolor aliquam ullam voluptatem ipsam. Illo, illum
        asperiores!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptatibus odit eius dicta aliquam incidunt
        architecto, nihil earum illo numquam sapiente minima sunt. Nemo, velit? Itaque cumque ut dolorem qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempore, omnis beatae corrupti at laboriosam.
        Maxime repudiandae libero, ex quis eaque fugiat quaerat quidem voluptatibus ea. Cum error alias eum!

    </div>
    <div class="border-1 border-[#2257BF4D] mt-10"></div>
    <div class="flex mt-3 text-white justify-end">
        <div class="button-bg-red p-2 px-4 rounded-lg">
            Tüm Kararlar
        </div>

    </div>
</div>