<div class="blue-purple-bg px-28 py-11 rounded-bl-xl rounded-br-xl flex-col space-x-4 justify-center">
    <div class="grid  grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 gap-2">
        <div>
            <p-calendar [(ngModel)]="rangeDates" selectionMode="multiple" [inline]="true" [showWeek]="true"
                [numberOfMonths]="2" [locale]="_localeCal" [showWeek]="false" [disabled]="true"></p-calendar>

        </div>

        <div class="grid grid-cols-2 gap-2 p-2 ">
            <ng-container *ngFor="let egitimTak of egitimTakvimi">
                <div
                    class="flex justify-center items-center lacivert-bg col-span-1 text-white rounded-xl shadow-button p-2 space-x-3">
                    <img src="../../../../assets/images/atom kurumu.png" width="70px" height="70px" />
                    <div class="flex flex-col">
                        <span class="text-lg font-semibold button-in-text">{{egitimTak.egitimVerilecekKurum}}</span>
                        <span class="">{{egitimTak.date[0]}}</span>
                    </div>

                </div>
            </ng-container>
        </div>


    </div>

    <div class="border-1 border-[#2257BF4D] mt-10"></div>
    <div class="flex mt-3 text-white justify-end">
        <div class="button-bg-red p-2 px-4 rounded-lg">
            Tüm Eğitimler
        </div>

    </div>




</div>