<div class="blue-purple-bg px-28 py-16 rounded-bl-xl rounded-br-xl flex-col justify-center items-center space-y-4">
    <div class="flex items-center space-x-5">
        <div class="flex justify-between w-72 text-lg font-bold blue-purple-bg p-2 rounded-xl">
            <span>Toplantı No</span>
        </div>
        <div>2023/016</div>
    </div>
    <div class="flex items-center space-x-5">
        <div class="flex justify-between w-72 text-lg font-bold blue-purple-bg p-2 rounded-xl">
            <span>Gündem No</span>
        </div>
        <div>01/03/2023</div>
    </div>
    <div class="flex items-center space-x-5">
        <div class="flex justify-between w-72 text-lg font-bold blue-purple-bg p-2 rounded-xl">
            <span>Karar No</span>
        </div>
        <div>2023/DK.D-56</div>
    </div>
    <div class="flex items-center space-x-5">
        <div class="flex justify-between w-72 text-lg font-bold blue-purple-bg p-2 rounded-xl">
            <span>Toplantıya Katılan Üye Sayısı</span>
        </div>
        <div>9</div>
    </div>
    <div class="flex flex-wrap">
        <div class="w-72 text-lg font-bold blue-purple-bg p-2 rounded-xl">
            <span>Gündem Konusu</span>
        </div>
        <div class="mt-3">4735 sayılı Kamu İhale Sözleşmeleri Kanununun "Sözleşmelerin tasfiyesi veya devri"
            başlıklı geçici 4 üncü maddesi doğrultusunda yüklenicinin talebi üzerine mevzuat hükümleri doğrultusunda
            sözleşmenin feshedilmesi halinde Yapım İşleri Genel Şartnamesi’nin "İş ve işyerlerinin korunması ve
            sigortalanması" başlıklı 9 uncu maddesinin sekizinci fıkrasında yer alan sigorta giderlerinin feshedilen
            sözleşmenin yüklenicisinden talep edilip edilemeyeceği hususuna dair Kurum görüşünün oluşturulması

            Yüklenicinin sözleşme şartlarına uymaması gibi nedenlerle idare tarafından sözleşmenin feshedilmesi veya
            4735 sayılı Kamu İhale Sözleşmeleri Kanununun "Sözleşmelerin tasfiyesi veya devri" başlıklı geçici 4 üncü
            maddesi doğrultusunda yüklenicinin talebi üzerine mevzuat hükümleri doğrultusunda sözleşmenin feshedilmesi
            halinde Yapım İşleri Genel Şartnamesi’nin "İş ve işyerlerinin korunması ve sigortalanması" başlıklı 9 uncu
            maddesinin sekizinci fıkrasında yer alan sigorta giderlerinin feshedilen sözleşmenin yüklenicisinden veya
            yapılan yeni ihale sonucu belirlenen yükleniciden talep edilip edilemeyeceği hususuna ilişkin olarak;

            1- Yüklenicinin kusuru nedeniyle sözleşmenin feshedilmesi durumunda Yapım İşleri Genel Şartnamesi’nin “İş ve
            işyerlerinin korunması ve sigortalanması” başlıklı 9 uncu maddesinin sekizinci fıkrasında yer alan sigorta
            giderlerinin idarece karşılandıktan sonra yükleniciden tazmin edilebileceğine,

            2- Kanun’un geçici 4 üncü maddesi kapsamında sözleşmelerde yükleniciye fesih hakkının verildiği, bu
            sözleşmelerde yüklenicinin kusurundan bahsedilemeyeceği, bu nedenle bu sözleşmelere konu işlerin yeni
            yükleniciye ihale edilinceye kadar sigorta giderlerinin idare tarafından karşılanacağı ancak yükleniciye
            tazmin ettirilemeyeceğine, ayrıca anılan sigorta giderleri sözleşmenin feshinden sonra yapılan ihalenin de
            konusunu oluşturmadığından, sigorta giderlerinin karşılanmasının yeni yükleniciden de talep edilemeyeceğine,

            3- KararınKurumun resmi internet sitesinde yayımlanmasına,

            Oybirliği ile karar verildi.</div>
    </div>


    <div class="border-1 border-[#2257BF4D] mt-10"></div>
    <div class="flex mt-3 text-white justify-end">
        <div class="button-bg-red p-2 px-4 rounded-lg">
            Tüm Kararlar
        </div>

    </div>
</div>