<div class="blue-purple-bg p-12 rounded-bl-xl rounded-br-xl flex justify-center items-center">
    <div class="bg-white rounded-xl flex items-center justify-center border-2 border-gray-300 gap-3 p-5 flex-wrap sm:flex-wrap md:flex-wrap lg:flex-wrap xl:flex-nowrap">
        <a (click)="goToUrl(isdeneyim)"
            class="light-blue-bg  w-[100%] h-16 rounded-xl shadow cursor-pointer flex items-center justify-center p-2">İş
            Deneyim Tutar
            Güncelleme</a>
        <a (click)="goToUrl(iscilikHesaplama)"
            class="light-blue-bg  rounded-xl shadow cursor-pointer w-[100%] h-16 flex items-center justify-center p-2">İşçilik
            Hesaplama</a>
        <a (click)="goToUrl(sinirDegerHesaplama)"
            class="light-blue-bg rounded-xl shadow cursor-pointer w-[100%] h-16 flex items-center justify-center p-2">Sınır
            Değer Hesaplama</a>
    </div>
</div>